<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/estudiantes.png" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Información estudiantil</h5>
        </div>
        <p class="card-text">No.Control:  19680098.</p>
        <p class="card-text">Correo electronico: 19680098@cuautla.tecnm.mx.</p>
        <p class="card-text">Carrera: Ing. Sistemas Computacinales</p>
        <p class="card-text">Semestre:  8vo.</p>
    </div>
</div>
