<div class="card" style="width: 18rem;">
    <div class="center">
        <img src="../assets/img/habilidades.png" class="card-img-top" alt="..." style="width:150px;height:140px;" >
    </div>

    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title">Habilidades</h5>
        </div>
        <p class="card-text">Redacción, diseño, analisis, trabajo en equipo, comprension, interes</p>
        <p class="card-text"></p>
    </div>
</div>
