
<div class="cont1">
    <div class="tittle">
      <h1>Presentación</h1>
    </div>
</div>

<div class="img">
    <div>
        <img src="../assets/img/mons3.jpeg"  alt="yo" class="center" style="width:250px;height:415px;">
    </div>
    <div class="info">
        <h2 >Nombre:</h2>
        <h3> Arce Serrano Monserrat</h3>
    </div>
</div>
