<body>
    <app-compo1></app-compo1>
    <div class="d2">
        <app-compo2></app-compo2>
        <app-compo3></app-compo3>
        <app-compo4></app-compo4>
    </div>

    <div class="d3">
        <app-compo5></app-compo5>
        <app-compo6></app-compo6>
    </div>
</body>